@import url('https://fonts.googleapis.com/css?family=Fjalla+One');

body {
	font-family: 'Fjalla', sans-serif;
	margin: 0;
}
hr {
  color: #ffffff;
  width: 80%;
  height: 5px;
  margin: 0px;
  background-color: #333333;
  border: none;
  margin-left: auto;
}
div#banner {
	top: 0;
	left: 0;
	width: 100%;
	background-color: #f1f1f1;
  padding: 10px;
}
div#container {
	position: relative;
	text-align: center;
}
div#navbar {
	overflow: hidden;
  background-color: #333;
  width: 100%;
}

#navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #81c1be;
  color: black;
}

a#navbar-page {
	display: block;
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding: 14px;
	text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px; 
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  color: black;
  position: absolute;
  background-color: #333;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 16px 10px;
  height: 60px;
  width: 425px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #81c1be;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.content {
  padding: 16px;
  background: #424242;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}