div#banner {
	position: fixed;
	top: 0;
	left: 0;
	background-color: #DDEEEE;
	width: 100%;
}
div#container {
	position: relative;
	text-align: center;
}
img#reddit-link {
	width: 30px;
	height: 30px;
	padding-top: 5px;
	padding-bottom: 20px;
	padding-right: 25px;
}